/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Google Fonts - titoli:  ‘Edu Tas Beginner’, sans-serif; */
.title-font {
  font-family: "Edu TAS Beginner", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* Google Fonts - date: ‘Sometype Mono’, ‘monospace’; */
.date-font {
  font-family: "Sometype Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* Layout */
header {
  background-image: url("../img/wall.png");
}

body {
  background-image: url("../img/cork.png");
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

#container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  width: calc(100% / 3 - (60px / 3));
}

/* Bonus
Spostandosi col mouse sopra le foto, queste si zoommano, ruotano di 10 gradi e la loro ombra aumenta,
il tutto in manierà fluida. Inoltre il mouse diventa un puntatore, per far capire all’utente che può cliccare. */
.card img:hover {
  cursor: pointer;
  transform: rotateZ(10deg);
}

.img-wrapper {
  position: relative; /*come riferimento relativo per posizionare il pin sopra le immagini */
}

.icon {
  position: absolute;
  top: -8%;
  left: 46%;
  width: 9%;
}

/* Generals */
h1 {
  text-align: center;
  font-size: 4rem;
  padding: 15px;
  margin-bottom: 10px;
}

/* Overlay */
.overlay {
  position: fixed; /* fisso nella finestra, anche se scrollo la pagina. */
  width: 100%; /* gli assegno dimensioni piene */
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-display {
  display: none; /* Facciamo sparire l’overlay con l’aiuto di una classe CSS */
}

.overlay-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.overlay-img {
  max-width: 50%;
  max-height: 50%;
}
