/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Google Fonts - titoli:  ‘Edu Tas Beginner’, sans-serif; */
.title-font {
  font-family: "Edu TAS Beginner", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* Google Fonts - date: ‘Sometype Mono’, ‘monospace’; */
.date-font {
  font-family: "Sometype Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* Layout */
header {
  background-image: url("../img/wall.png");
}

body {
  background-image: url("../img/cork.png");
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

#container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  width: calc(100% / 3 - (60px / 3));
}

/* Generals */
h1 {
  text-align: center;
  font-size: 5rem;
  padding: 15px;
  margin-bottom: 10px;
}

/* 
Bonus
rendi la pagina responsive, in modo che su mobile e tablet le foto si dispongano man mano una sotto l’altra 
ed il titolo abbia una dimensione adeguata */
