/* Google Fonts - titoli:  ‘Edu Tas Beginner’, sans-serif; */
.title-font {
  font-family: "Edu TAS Beginner", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* Google Fonts - date: ‘Sometype Mono’, ‘monospace’; */
.date-font {
  font-family: "Sometype Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
